

@import "https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800";

* {
  font-family:'Montserrat',sans-serif;
}

.availablity-active {
  opacity: 1 !important;
  background-color: #0BE286 !important;
  //background-color: #F8A422 !important;
  color: white;
  border: 4px solid #0BE286  !important;
  // border: 4px solid #F8A422 !important;
  box-shadow: none;
  // border-radius: 3px;
}

.availability-col {
  padding: 0 !important;
}

.availability-choice {
  width: 20vw;
  height: 20vw;
  text-align: center;
  vertical-align: center;
  background-color: rgba(25, 225, 133, 0.1);
  //background-color: #E6F97A;
  //border: 4px solid #0BE286;
  //background-color: #E6F97A;
  // border-radius: 3px;
  cursor: pointer;

  &:hover {
    //opacity: 0.7;
  }
}

.availability-choices {
  width: 325px;
}

.modal{
  background-color: rgba(255, 255, 255, 0.8);
}

.row-headers{
  width: 30vw;
  margin-top: 0.5vh;
  margin-left: 0;
  font-size: 24px;
  font-weight: bold;

}

.day-header {
  height: 20vw;
  display: flex;
  align-items: center;
  justify-content: center;

}

.availabilities-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: bold;
}

.availabilities-corner {
  width: 30vw;
}

.availabilities-row {
  margin: 0 !important;
}

.time-headers {
  width: 60vw;
  display: flex;
}

.time-header {
  width: 20vw;
}

.availabilities-container {
  width: 60vw;
  margin-top: 7vh;
  // margin-left: 35vw;
  margin: 0 !important;
  padding: 0 !important;
  // background-color: white;
  // display: flex;
  // justify-content: center;
  // padding: 40px;
  // margin-top: 60px;
  // border-radius: 3px;
}

.availabilities-wrapper {
  display: flex;
  // justify-content: center;
}


.fa-check{
  font-size: 5vw;
  position: absolute;
  top: calc(50% - 2.5vw);
  left: calc(50% - 2.5vw);
}

.fa-times{
  font-size: 5vw;
  position: absolute;
  top: calc(50% - 2.5vw);
  left: calc(50% - 2.5vw);
  color: rgb(50, 50, 50);
}

