
  .edit-user-form{
    padding: 20px;
        height: calc(100vh - 60px);
    abbr[title="required"] {
    display: none;
  }
}

.user_gender {
  position: relative;
  display: flex;
  justify-content: space-between;

  label {
    margin-bottom: 10px;
    margin-top: 10px;
    display: inline;
  }


  .radio {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.user_photo {
  text-align: center;
}

#user_photo {
      width: 100%;
}

#show-image {
  margin: 5px auto;

}


.edit-user-wrapper{
  width: 100 vw;
  background: linear-gradient(rgba(114, 94, 201,0.3), rgba(118, 75, 162, 0.3));
}
