// _matches_index.scss
.container-matches-index {
  background-color: #EAEEF5;
  height: 100vh;
  h3 {
    margin: 30px 0;
  }

  h3, h4{
    color: #627D72 !important;
  }

  ul li {
    width: 250px;
  }
}
