// _matches_index.scss
.container-match-card {
  width:340px;
  height: 20vh;
  color: #627D72;
  background-color: white;
  border-radius: 3%;
  box-shadow: 1px 2px 3px gray;
  padding: 15px !important;
  margin-top:10px;
}
.all-matches {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.matches-all {
  display:flex;
  justify-content:left;
}

.match-user-photos {
  display: flex;
  flex-direction: column;
  #match-image1 {
    width:50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid white;
    z-index:2;
    box-shadow: 1px 1px 3px rgb(206, 204, 204);
  }
  #match-image2 {
    width:50px;
    height: 50px;
    border-radius: 50%;
    margin-top: -10px;
    border: 1px solid white;
    z-index: 1;
    box-shadow: 1px 1px 3px rgb(206, 204, 204);
  }

}

.match_information {
  color: #2F4666;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  a {
    color: #2F4666;
    text-decoration: none;
  }
}

.player-name {
  font-weight: bold;
}

.match-status {
  position: absolute;
  top: 5px;
  right: 12px;
  font-size: 13px;
  color:white;
  font-weight:700;
  background-color: #6FCF97;
  border-radius: 3px;
  padding: 4px 5px;
}
.pending {

  background-color: #FFCD45;
}
.accepted {
  background-color: #6FCF97;;
}
.rejected {

  background-color: #EB5757;

}

.icon-marker {

  font-size: 20px;
  color: #725ECA;
  margin-bottom: 12px;
}

.icon-clock {

  font-size: 20px;
  color: #725ECA;
  margin-bottom: 12px;
}

.match-detail-link{
  position: absolute;
  bottom: 0px;
  right: 12px;
  font-size: 12px;
  color: #725ECA;
}

.flex-std{
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-left{
  display: flex;
  justify-content: left;
  align-items: center;
}

.flex-left p {
    padding-left: 7px;
}

.title-banner{
  position: fixed;
  width: 100%;
  height: 74px;
  background: linear-gradient(180deg, #7161D0 0%, #764BA2 100%);
  text-align: center;
  z-index: 50;
  h1{

    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    font-size: 36px;
    margin:0;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.match-created-at{
    position: absolute;
    top: 35px;
    font-size: 10px;
    right: 12px;
    p{
      font-family: Roboto;
      color: #764BA2;
    }
}
// .container-matches-index {
//   background-color: #EAEEF5;
//   height: 100vh;
//   h3 {
//     margin: 30px 0;
//   }

//   h3, h4{
//     color: #627D72 !important;
//   }

//   ul li {
//     width: 250px;
//   }
// }
