.match-show-banner {
  position: fixed;
  width: 100%;
  height: 149px;
  background: linear-gradient(180deg, #7161D0 0%, #764BA2 100%);
  // z-index: 50;
    h1{
    position: absolute;
    top: 25px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    margin:0;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
}
.match-show-profile-picture-container{
  display: flex;
  justify-content: center;
  width: 220px;
  margin: 0 auto;
  margin-top: 20px;
  #show-image-1{
    position: relative;
    left: 6px;
    border-radius: 50%;
    border: 1px solid white;
    z-index:2;
    box-shadow: 1px 1px 3px rgb(206, 204, 204);
    box-shadow: 1px 3px 5px gray;
  }
  #show-image-2{
    position: relative;
    right: 6px;
    border-radius: 50%;
    border: 1px solid white;
    z-index: 1;
    box-shadow: 1px 1px 3px rgb(206, 204, 204);
    box-shadow: 1px 3px 5px gray;
  }
}

.location-title-in-match {
  h5 {
    margin-bottom: 0 !important;
  }
}

.match-show-content{
  height: 150px;
  text-align: center;
  padding:2px 0;
  h3 {
    margin-top: 2px;
  }
}

.time-location {
  margin-left: 35px;
}

// .a-link{
//   margin-left: 80px;
//   margin-top: 10px;
// }

.location-align {
  text-align: left;
  margin: 0 30px;
  p {
    margin: 0 !important;
  }
  a {
    width:200px;
    font-size: 16px;
  }
}

.map-box-setting {
  display:flex;
  justify-content:center;
  margin-bottom: 15px;
}

.match_btn {
  z-index: 10;
  margin: 15px 10px 15px 10px;
  .btn {
    width:100px;
    margin:0 10px;
    font-weight:600;
  }
}

.confirmed-match {
  display:flex;
  justify-content: center;

  p {
  color: white;
  //background-color: #32B796;;
  color: #7161D0;
  font-weight:600;
  //width: 200px;
  border-radius: 3px;
  margin: 0 10px;
  padding: 7px;
  //border: 1px solid #2da386;
  }
}

.forgot-password-link {
  width: 250px;
}
// modified by gina on 20180312
