.wrapper {
  color: rgb(5, 5, 5);
}

.user-info {
  // color: black;
  text-align: center;
}

.edit-profile {
  margin: 20px auto;
}

.edit-profile a {
  color: white;
  text-align: center;
}

.intro {
  margin: 25px 0px;
  text-align: center;
}

.dropdown {
  display: block;
  text-align: center;
  margin: 10px auto;
}

.request-match-button {
  text-align: center;
  margin: 40px auto;
  display: block;
}

.sign-in-form {
  margin-top: 160px;
}
// modified by Gina 20180313

.sign-in-button {
  width: 190px;
  margin-top: 35px;
}
// modified by Gina 20180313

#show-image {
  display: block;
  margin: 30px auto 30px auto;
  box-shadow: 1px 1px 2px #B3B3B3;
  border-radius: 50%;
}

.sign-up-form {
  select {
    width: auto;
    text-align-last: center;
  }
}

#my_availabilities{
  background: #0BE286;
  opacity: 0.5;
  font-size: 16px;
  color: rgb(5, 5, 5);
  padding: 5px;
  border-radius: 3px;
  margin: 2px;
}


.user-show-banner{
  background: linear-gradient(#7161D0, #764BA2);
  width: 100%;
  border-radius: 5px 5px 0 0;
  height: 135px;
}

.user-edit-icon {
  position: absolute;
  right: 0px;
  top: -7px;
  font-size: 26px;
}


.avatar-user-show {
  position: relative;
  top: 60px;
  display:flex;
  margin:0 auto;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  border: 2px solid white;
}


.user-second-half {
  color: #2F4666;
  font-weight: 500;
  margin-top: 50px;
}

.match-inputs{
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 55px;
}
