.wrapper {
  color: rgb(5, 5, 5);
}

.user-info {
  // color: black;
  text-align: center;
}

.edit-profile {
  margin: 20px auto;
}

.edit-profile a {
  color: white;
  text-align: center;
}

.intro {
  margin: 25px 0px;
  text-align: center;
}

.dropdown {
  display: block;
  text-align: center;
  margin: 10px auto;
}

.request-match-button {
  text-align: center;
  margin: 40px auto;
  display: block;
}

.sign-in-form {
  margin-top: 160px;
}
// modified by Gina 20180313

.sign-in-button {
  width: 190px;
  margin-top: 35px;
}
// modified by Gina 20180313

#show-image {
  display: block;
  margin: 30px auto 30px auto;
  box-shadow: 1px 1px 2px #B3B3B3;
  border-radius: 50%;
}

.sign-up-form {
  select {
    width: auto;
    text-align-last: center;
  }
}

#my_availabilities{
  background: #0BE286;
  opacity: 0.5;
  font-size: 16px;
  color: rgb(5, 5, 5);
  padding: 5px;
  border-radius: 3px;
  margin: 2px;
}
