<% if current_user.can_play_with?(@user) %>
  <%= simple_form_for [@user, @match] do |f| %>
    <div class="dropdown-1 dropdown">
      <%= f.select :court, @user.shared_courts(current_user).map { |court| [court.name, court.id] }, {}, class: "dropdown" %>
    </div>
    <div class="drop-down-2 dropdown">
      <%= f.select :availability, @user.shared_availabilities(current_user) %>
    </div>
    <div>
      <%= f.submit "Request a match", class: "btn btn-purple center-btn request-match-button"%>
    </div>
  <% end %>
<% else %>
  <h1>You can't</h1>
<% end %>
