<h3>My Matches</h3>


<% if current_user.requester_matches.size > 0  %>
  <h4>Requests made by me</h4>
  <ul>
    <% current_user.requester_matches.each do |match| %>
    <li>
      <%= link_to "match with #{match.approver.first_name} at: ", match_path(match)%>
      <%= link_to match.court.address, court_path(match.court)%>
    </li>
    <% end %>
  </ul>
<% end %>
<br>
<% if current_user.approver_matches.size > 0 %>
  <h4>Requests made by other players</h4>
  <ul>
    <% current_user.approver_matches.each do |match| %>
      <li>
        <%= link_to "match with #{match.requester.first_name} at: ", match_path(match)%>
        <%= link_to match.court.address, court_path(match.court)%>
      </li>
    <% end %>
  </ul>
<% end %>

