<div class="title-banner flex-std"><h1>Matches</h1></div>
<% if current_user.my_matches.size > 0  %>
  <% current_user.my_matches.each do |match| %>
    <% if current_user.id == match.requester_id %>
        <%= render "match_card", match: match, state: "requester" %>
    <% else %>
      <%= render "match_card", match: match, state: "approver" %>
    <% end %>
  <% end %>
<% end %>
