.footer-app {

  height: 60px;
  background-color: #725ECA;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 16px;
  color: #FFFFFF;
  font-size: 11px;
  a {
    color: #FFFFFF;
    text-decoration: none;
  }

}






