#map {
  box-shadow:4px 4px 5px rgba(20%,20%,40%,0.5);
  margin-top: 20px;
}


.map-row {
  z-index: 2;
  position: sticky !important;
  top: 0 !important;
  h6 {
    color: black;
    line-height: 1.6;
    margin-left: 20px;
    font-weight: bold;
  }
}

