// extra css for the home page only

.navbar-wagon {
  position: absolute;
  width: 100%;
  background-color: transparent;
}

.bki {
  padding-top: 60px;
}

.navbar-wagon-brand img {
  height: 0px;
}

.dropdown {
  color:white;
}
